.site-header #logo, .logo-text {
  display: inline-block;
}

h1 .heading-action i, .employee-of-the-month-heading i, .site-header #logo, .logo-text {
  vertical-align: middle;
}

@media (max-width: 30em) {
  h1 .heading-action span {
    display: none;
  }
}

h1 .heading-action span, h1 .heading-action i, .member, .member__pic, .member__name,
.member__email, .member__actions, .member__action i, .star {
  transition: .15s ease-in-out all;
  -webkit-transition: .15s ease-in-out all;
}

[data-bind="dump: staffViewModel"] {
  display: none;
}

@media (min-width: 47.5em) {
  [data-bind="dump: staffViewModel"] {
    display: block;
    cursor: s-resize;
    position: fixed;
    z-index: 9999;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    color: #39ff14;
    font-family: monaco,monospace;
    line-height: 1.3;
    font-size: 11px;
    padding: 20px;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  [data-bind="dump: staffViewModel"].shrunk {
    -webkit-transform: translateY(95%);
            transform: translateY(95%);
    background: #000;
    overflow: hidden;
    cursor: n-resize;
  }
  [data-bind="dump: staffViewModel"].shrunk:hover {
    -webkit-transform: translateY(92%);
            transform: translateY(92%);
  }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #f3f3f3;
  line-height: 1;
  font-size: 100%;
  font-family: Lato,sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

h1 .heading-action {
  float: right;
  text-align: right;
  font-size: .8125rem;
  color: #888;
}

h1 .heading-action span {
  padding-left: .5rem;
  position: relative;
  top: 1px;
}

h1 .heading-action i {
  font-size: 2rem;
  color: #39cd20;
}

h1 .heading-action:hover {
  color: #111;
}

h1 .heading-action:hover i {
  color: #278b16;
}

.employee-of-the-month-heading {
  font-size: .85rem;
  margin-bottom: .5rem;
  text-align: center;
}

@media (min-width: 47.5em) {
  .employee-of-the-month-heading {
    margin-bottom: 1rem;
    text-align: left;
  }
}

.employee-of-the-month-heading i {
  color: #ff6b3d;
  font-size: 2rem;
}

.site-header {
  background: #111;
  padding: 0.25rem 0.5rem;
  position: relative;
}

@media (min-width: 47.5em) {
  .site-header {
    padding: 0.25rem 2rem;
  }
}

.site-header #logo {
  width: 4rem;
  height: auto;
  vertical-align: middle;
}

.site-header #logo path {
  fill: #ff6b3d;
}

.logo-text {
  color: #fff;
  font-size: 1.125rem;
  padding-left: 1rem;
}

@media (max-width: 30em) {
  .logo-text {
    display: none;
  }
}

.slogan {
  width: 12rem;
  text-align: right;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  right: .5rem;
  color: rgba(255, 255, 255, 0.5);
  font-size: .75rem;
  line-height: 1.5;
  font-style: italic;
}

@media (min-width: 47.5em) {
  .slogan {
    right: 2rem;
  }
}

.page {
  padding: .5rem;
  position: relative;
}

@media (min-width: 47.5em) {
  .page {
    padding: 2rem;
  }
}

.panel {
  background: #fff;
  border: 3px solid #ddd;
  padding: 1rem;
  border-radius: .5rem;
}

@media (min-width: 47.5em) {
  .panel {
    padding: 2rem;
  }
}

@media (min-width: 90.25em) {
  .panel {
    padding: 2rem 4rem;
  }
}

.main {
  width: 100%;
}

@media (min-width: 47.5em) {
  .main {
    width: 70%;
  }
}

.secondary {
  width: 100%;
  margin-bottom: 1rem;
}

@media (min-width: 47.5em) {
  .secondary {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: calc(30% - 3rem);
  }
}

.member {
  background-color: #fff;
  padding: 1rem 0.5rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  transition: translate3d(0, 0, 0);
}

.member__pic {
  width: 5rem;
  height: 5rem;
  border-radius: 1.25rem;
  margin: 0 auto;
}

@media (min-width: 30em) {
  .member__pic {
    margin: 0 auto 0.5rem;
  }
}

.member__info {
  padding-left: .5rem;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-basis: 12rem;
      -ms-flex-preferred-size: 12rem;
          flex-basis: 12rem;
}

@media (min-width: 47.5em) {
  .member__info {
    padding-left: 1rem;
    -webkit-flex-basis: 16rem;
        -ms-flex-preferred-size: 16rem;
            flex-basis: 16rem;
  }
}

.member__name,
.member__email {
  display: block;
  border: none;
  width: 100%;
}

.member__name:disabled,
.member__email:disabled {
  opacity: 1;
  padding: 0;
  background: #fff;
}

.member__name {
  font-size: 1.375rem;
  margin-bottom: .25rem;
}

.member__email {
  font-size: .875rem;
  color: #ff6b3d;
}

.member__actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 1px solid #eee;
  margin-top: .5rem;
  border-radius: 5rem;
  position: relative;
}

@media (min-width: 30em) {
  .member__actions {
    border: none;
    margin-top: 0;
  }
}

.member__action {
  background: none;
  border: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  padding: .75rem;
  font-size: 1.5rem;
  color: #e1e1e1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.member__action .member:hover .member__action {
  color: #888;
}

@media (max-width: 30em) {
  .member__action:nth-child(2) {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
  }
}

.member__action:hover i {
  color: #111;
}

@media (min-width: 30em) {
  .member__action {
    font-size: 2rem;
  }
}

.star {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.star:hover i {
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  color: #ff9270;
}

.star--is-filled {
  color: #ff6b3d;
  -webkit-animation: star-fill 0.5s 1;
          animation: star-fill 0.5s 1;
}

.star--is-filled i {
  color: #ff6b3d;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.star--is-filled:hover i {
  color: #ff6b3d;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@-webkit-keyframes star-fill {
  0% {
    color: black;
    -webkit-transform: translateY(0) scale(0.8);
            transform: translateY(0) scale(0.8);
  }
  30% {
    color: black;
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  100% {
    color: #ff6b3d;
    -webkit-transform: rotate(74deg) translateY(0);
            transform: rotate(74deg) translateY(0);
  }
}

@keyframes star-fill {
  0% {
    color: black;
    -webkit-transform: translateY(0) scale(0.8);
            transform: translateY(0) scale(0.8);
  }
  30% {
    color: black;
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  100% {
    color: #ff6b3d;
    -webkit-transform: rotate(74deg) translateY(0);
            transform: rotate(74deg) translateY(0);
  }
}

.save {
  display: none;
}

.delete:hover i {
  color: #c43a3a;
}

.member--stack {
  text-align: center;
  border: none;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.member--stack .member__pic {
  margin-bottom: 1rem;
}

.member--stack .member__name {
  font-size: 1rem;
  font-weight: 700;
}

.member--is-editing {
  border: none;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 47.5em) {
  .member--is-editing {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.member--is-editing .member__name,
.member--is-editing .member__email {
  background: #fffcd9;
  cursor: text;
  padding: .5rem;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid #d9c800;
  overflow: hidden;
  -webkit-animation: pulse 0.55s infinite;
          animation: pulse 0.55s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  border-radius: 0;
}

@media (min-width: 62.5em) {
  .member--is-editing .member__name,
  .member--is-editing .member__email {
    font-size: 1.35rem;
  }
}

@-webkit-keyframes pulse {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #fffcd9;
  }
}

@keyframes pulse {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #fffcd9;
  }
}

@media (max-width: 30em) {
  .member--is-editing .member__actions {
    border: none;
  }
}

.member--is-editing .edit {
  display: none;
}

.member--is-editing .delete,
.member--is-editing .star {
  opacity: 0;
  visibility: hidden;
}

.member--is-editing .save {
  display: block;
}

.member--is-editing .save:hover i {
  color: #2da119;
}

.member--is-editing .save i {
  color: #39cd20;
}

@media (max-width: 30em) {
  .member--is-editing .save {
    font-size: 2rem;
    background-color: #39cd20;
    border-radius: 4rem;
  }
  .member--is-editing .save i {
    color: #fff;
  }
}

@media (min-width: 47.5em) {
  .member--is-editing .save {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

.member--was-just-added {
  max-height: 500px;
  -webkit-animation: add-member 0.75s 1;
          animation: add-member 0.75s 1;
  animation-easing-function: ease-in-out;
}

.member--was-just-added .delete {
  opacity: 1;
  visibility: visible;
}

@-webkit-keyframes add-member {
  0% {
    max-height: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
  25% {
    max-height: 200px;
  }
  100% {
    opacity: 1;
  }
}

@keyframes add-member {
  0% {
    max-height: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
  25% {
    max-height: 200px;
  }
  100% {
    opacity: 1;
  }
}

.member--is-being-deleted {
  -webkit-animation: delete-member 0.25s 1;
          animation: delete-member 0.25s 1;
}

@-webkit-keyframes delete-member {
  0% {
    opacity: 1;
    max-height: 180px;
  }
  100% {
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 0;
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
}

@keyframes delete-member {
  0% {
    opacity: 1;
    max-height: 180px;
  }
  100% {
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 0;
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
}
